:root {
  --default-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, fill 0.3s ease-in-out, transform 0.3s ease-in-out;
}


:root[data-theme="light"]{
  --pg-background: #FFFFFF; 
  --txt-color: var(--pg-background); 
  --switch-circle-bg: #FFFFFF; 
  --switch-bg: #999999; 
  --icon-sun: #ffd351; 
  --icon-sun-circle: #FFFFFF; 
  --icon-moon: #495773; 
  --switch-circle-pos: 0.27rem;
}

:root[data-theme="dark"]{
  --pg-background: #000000; 
  --txt-color: var(--pg-background); 
  --switch-circle-bg: #999999; 
  --switch-bg: white; 
  --icon-sun: #ffd351; 
  --icon-sun-circle: white; 
  --icon-moon: #495773; 
  --switch-circle-pos: 2.71rem;
}


html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#canvas-container {
  position: relative;
  z-index: 0; 
}

#icon-sun, #icon-moon {
  width: 2.5rem; 
  height: auto;
  z-index: 2;
} 

#theme-switcher{
  position: absolute;
  z-index: 1;
  background-color: var(--switch-bg);
  border-radius: 50px;
  display:flex; 
  align-items:center; 
  cursor: pointer; 
  top: 1.5rem; 
  right: 1.5rem; 
  transition: var(--default-transition); 
}

#theme-switcher::before{
  content: ''; 
  position: absolute; 
  width: 2rem; 
  height: 2rem; 
  background-color: var(--switch-circle-bg);
  border-radius: 50px;
  /* margin-left: 0.25rem;  */
  transform: translateX(var(--switch-circle-pos)); 
}

#icon-sun .cls-1{
  stroke: var(--icon-sun-circle); 
}

#icon-sun .cls-2{
  fill: var(--icon-sun); 
}

#icon-moon .cls-3{
  fill: var(--icon-moon); 
}